body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}
#container{
    width: 1128px;
}
a{
    position: relative;
    color: #00ccff;
    text-decoration: none;
    font-size: 12px;
}
a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #999;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
a:hover::before{
    transform: scaleX(1);
}
p{
    font-size: 20px;
}
img{
    width: 100%;
}
.cabecalho{
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.logo{
    float: left;
    width: 200px;
}
.menu{
    float: right;
    display: flex;
    margin-right: 50px;
}
li{
    list-style: none;
    flex-direction: row-reverse;
    float: right;
    font-size: 14px;
    margin-left: 24px;
}
li a{
    font-size: 20px;
    color: #999;
}
.banner{
    height: 450px;
    margin-bottom: 35px;
    position: relative;
}
.box{
    position: absolute;
    width: 460px;
    padding: 30px 48px 30px 48px;
    background-color: rgba(0,0,0,0.5);
    margin-top: -400px;
}
.box p{
    font-size: 20px;
    color: #fff;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    padding: 200;
    color: #fff;
}
.rodape{
    width: 100%;
    margin-bottom: 30px;
    float: left;
    font-size: 30px;
}
.rodape p{
    margin-bottom: 0;
}
.rodape small{
    font-size: 18px;
}
.rodape a{
    font-size: 1;
}
